@import url("https://raw.githack.com/LuckFire/Theme-Source/main/src/source.css");
@import url("https://cainy-a.github.io/SmolCord/smol.theme.css");
/* forked off Theme-Source by LuckFire, amazing person */
/* "screw it, we're using all of the smolcord css" - ruben 2021 - https://github.com/cainy-a/SmolCord/ */
/* "ruben no u cannot steal code!!!1!! - kixty 2021" /*

/* popup/confirmation boxes */
.theme-dark .message-2qRu38 { background-color: #1A1C1E; }
.theme-dark .root-1gCeng { background-color: #1A1C1E; }
.theme-dark .footer-2gL1pp { background-color: #151718; }
/* reactions */
.reactors-Blmlhw.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 { background-color: #1A1C1E; }
.scroller-1-nKid.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 { background-color: #1A1C1E; }
/* upload popup */
.uploadModal-2ifh8j { background-color: #1A1C1E; }
.footer-3mqk7D { background-color: #151718; }
/* text channel creation */
.modal-2VIBV8.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y { background-color: #1A1C1E; }
.modal-2VIBV8.root-1gCeng > .footer-2gL1pp { background-color: #151718; }

/* snippets taken from the powercord community, each having the id to the original message */

/* Have the # symbol glow white when the channel is unread - 818383883870666772 */
.modeUnread-1qO3K1>div>a>div>.icon-1DeIlz{
  color:#b9bbbe;
}
/* mobile jump to present bar - 821960077132038184 */ 
.jumpToPresentBar-G1R9s6{
    visibility: hidden;
    bottom:15px;
}
.barButtonIcon-3t4V3d{
    visibility: visible;
    padding:11px;
    background-color: #0F1011;
    border-radius: 50%;
}
/* Add transparency & blur to the loading screen - 824102340079648779 */
.container-16j22k {
  background-color: rgba(0,0,0,0.8);
  backdrop-filter: blur(5px);
}
/* Blurred see through settings - 822405626021675029 */
.layers-3iHuyZ>.layer-3QrUeG:first-child{
  transform: scale(1) !important;
  opacity: 1 !important;
}
.layers-3iHuyZ>.layer-3QrUeG:nth-child(2),.perksModal-fSYqOq{
  background-color: rgba(0, 0, 0, 0.5)!important;
  backdrop-filter: blur(9px);
}
.contentRegionScroller-26nc1e,.contentRegion-3nDuYy,.standardSidebarView-3F1I7i,
.sidebarRegionScroller-3MXcoP{
  background: transparent;
}
/* Fix for see through settings (css above) - 822407939050176547 */
.titleContainer-2CXtJo {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 5px;
}
.header-2mZ9Ov {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 5px;
}
/* User Area Thing - 785558147435593768 */
.container-3baos1 {
   background-color: #0F1011;
   margin-bottom: 0px;
}